<!DOCTYPE html>
<!-- Fragmento de factura -->
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="factura-formulario(factura)" >
            <div class="container mb-5" >
                <!-- FORMULARIO -->
                <div class="card p-4 mb-4">
                    <form th:action="@{/factura/guardar}" method="post" th:object="${factura}" th:if="${session.usuarioLogueado != null}"> 
                        <h4>Formulario de factura</h4>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Número de factura</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{numeroFactura}" id="inputFactura"  placeholder="N° Factura Automático" readonly>
                            </div>
                        </div>
                        <!-- Div de Num Factura -->

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Cédula del cliente</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{cliente.cedula}" id="inputCedula" placeholder="N° Cédula" readonly>
                            </div>
                        </div>
                        <!-- Div de Cliente -->

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Monto</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{monto}" id="inputMonto" placeholder="Monto ₡">
                            </div>
                        </div>
                        <!-- Div de Monto-->

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Fecha</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" th:field="*{fecha}" id="inputFecha">
                            </div>
                        </div>
                        <!-- Div de Fecha -->

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" th:field="*{descripcion}" id="inputDescripcion" rows="2"></textarea>
                            </div>
                        </div>
                        <!-- Div de Descripción -->

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">Estado de la factura</label>
                            <div class="col-sm-9">
                                <select class="form-select" th:field="*{estadoFactura}" id="inputEstado">
                                    <option  value="true" th:text="#{Factura.form.estadoAC}"></option>
                                    <option  value="false" th:text="#{Factura.form.estadoIN}"></option>
                                </select>
                            </div>
                        </div>
                        <!-- Div de Estado -->

                        <div class="text-center mt-4">
                            <button class="btn btn-salmon" onclick="descargarPDF()">Guardar y Descargar Factura</button>
                        </div>
                    </form>

                    <!-- Sitaución si el usuario no esta registrado e intenta facturar -->
                    <p th:text="#{Factura.form.factura}" th:if="${session.usuarioLogueado == null}"></p>
                    <ul class="navbar-nav list-unstyled">
                        <li class="nav-item" th:if="${session.usuarioLogueado == null}">
                            <a class="btn btn-salmon mb-2" th:href="@{/usuario/registro}" th:text="#{header.registro}">Registro</a>
                        </li>
                        <!-- btn Registro -->
                        <li class="nav-item" th:if="${session.usuarioLogueado == null}">
                            <a class="btn btn-salmon mb-2" th:href="@{/login}" th:text="#{header.inicioGratis}">Iniciar sesión</a>
                        </li>
                        <!-- btn Inicio sesión -->
                    </ul>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
            <script th:src="@{/js/factura.js}"></script>
        </div>
    </body>
</html>